@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "SF Compact Display";
    src: url("../fonts/FontsFree-Net-SFCompactDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SF Compact Display Light";
    src: url("../fonts/SF-Compact-Display-Light.otf") format("opentype");
}

@font-face {
    font-family: "SF Compact Display Thin";
    src: url("../fonts/SF-Compact-Display-Thin.otf") format("opentype");
}